<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#" class="page-header__btn">
                онлайн-запись
            </a>
            <a href="#" class="page-header__btn">
                интернет магазин
            </a>
            <div class="page-header__controls">
                <a href="#" class="page-header__favourites">
                    <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                        <use xlink:href="#heart"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__logo">
                    <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
                </a>
            </div>
        </div>
    </div>
</header>