<header class="page-header">
    <div class="page-header__menu">
        <div class="container">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            главная
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            парикмахерские услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            косметология
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            ногтевой сервис
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            макияж
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            прайс-лист
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            о салоне
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            блог
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-btns">
                <a href="#" class="page-header__menu-btn">
                    интернет-магазин
                </a>
                <a href="#callback-modal" class="page-header__menu-btn">
                    онлайн-запись
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header__row">

            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#callback-modal" class="page-header__btn">
                онлайн-запись
            </a>
            <a href="#" class="page-header__btn">
                интернет магазин
            </a>
            <div class="page-header__controls">
                <a href="#" class="page-header__favourites">
                    <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                        <use xlink:href="#heart"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__logo">
                    <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
                </a>
            </div>
        </div>
    </div>
</header>