<div class="stories js-modal" id="stories">

    <div class="stories__inner">
        <div class="stories__slider js-stories-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="stories__slider-card">
                            <div class="stories__slider-card-bg">
                                <img src="img/stories/1.jpg" alt="" class="stories__slider-card-bg-image">
                            </div>
                            <div class="stories__slider-card-content">
                                <div class="stories__slider-card-row">
                                    <div class="stories__slider-card-category">
                                        <div class="stories__slider-card-category-image-container">
                                            <div class="stories__slider-card-category-image-wrapper">


                                                <img src="img/stories/preview.jpg" alt=""
                                                    class="stories__slider-card-category-image">
                                            </div>
                                        </div>
                                        обзор
                                    </div>

                                </div>

                                <h4 class="stories__slider-card-title">
                                    на что способен
                                    BBL Hero?
                                </h4>
                                <a href="#" class="stories__slider-card-btn">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stories__slider-card">
                            <div class="stories__slider-card-bg">
                                {{!-- <img src="img/stories/2.jpg" alt="" class="stories__slider-card-bg-image"> --}}
                            </div>
                            <div class="stories__slider-card-content">
                                <div class="stories__slider-card-row">
                                    <div class="stories__slider-card-category">
                                        <div class="stories__slider-card-category-image-container">
                                            <div class="stories__slider-card-category-image-wrapper">


                                                <img src="img/stories/preview.jpg" alt=""
                                                    class="stories__slider-card-category-image">
                                            </div>
                                        </div>
                                        до/после
                                    </div>

                                </div>

                                <h4 class="stories__slider-card-title">
                                    результат
                                    2-х процедур
                                </h4>
                                <a href="#" class="stories__slider-card-btn stories__slider-card-btn--white">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stories__slider-card">
                            <div class="stories__slider-card-bg">
                                <img src="img/stories/1.jpg" alt="" class="stories__slider-card-bg-image">
                            </div>
                            <div class="stories__slider-card-content">
                                <div class="stories__slider-card-row">
                                    <div class="stories__slider-card-category">
                                        <div class="stories__slider-card-category-image-container">
                                            <div class="stories__slider-card-category-image-wrapper">


                                                <img src="img/stories/preview.jpg" alt=""
                                                    class="stories__slider-card-category-image">
                                            </div>
                                        </div>
                                        акции
                                    </div>

                                </div>
                                <h4 class="stories__slider-card-title">
                                    на что способен
                                    BBL Hero?
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stories__slider-card">
                            <div class="stories__slider-card-bg">
                                <img src="img/stories/2.jpg" alt="" class="stories__slider-card-bg-image">
                            </div>
                            <div class="stories__slider-card-content">
                                <div class="stories__slider-card-row">
                                    <div class="stories__slider-card-category">
                                        <div class="stories__slider-card-category-image-container">
                                            <div class="stories__slider-card-category-image-wrapper">
                                                <img src="img/stories/preview.jpg" alt=""
                                                    class="stories__slider-card-category-image">
                                            </div>
                                        </div>
                                        до/после
                                    </div>

                                </div>


                                <h4 class="stories__slider-card-title">
                                    результат
                                    2-х процедур
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stories__slider-card">
                            <div class="stories__slider-card-bg">
                                <img src="img/stories/1.jpg" alt="" class="stories__slider-card-bg-image">
                            </div>
                            <div class="stories__slider-card-content">
                                <div class="stories__slider-card-row">
                                    <div class="stories__slider-card-category">
                                        <div class="stories__slider-card-category-image-container">
                                            <div class="stories__slider-card-category-image-wrapper">
                                                <img src="img/stories/preview.jpg" alt=""
                                                    class="stories__slider-card-category-image">
                                            </div>
                                        </div>
                                        обзор
                                    </div>

                                </div>
                                <h4 class="stories__slider-card-title">
                                    на что способен
                                    BBL Hero?
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stories__slider-pagination">
                <div class="stories__slider-pagination-bullet">

                </div>
                <div class="stories__slider-pagination-bullet">

                </div>
                <div class="stories__slider-pagination-bullet">

                </div>
                <div class="stories__slider-pagination-bullet">

                </div>
                <div class="stories__slider-pagination-bullet">

                </div>
            </div>

            <button class="stories__slider-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-stories-close">
                    <use xlink:href="#stories-close"></use>
                </svg>
            </button>
        </div>
    </div>

</div>