{{#extend "layout"}}
{{#content "main"}}


<section class="article">
    <div class="container">
        <div class="article__intro">

            <div class="article__intro-bg">
                <img src="img/article-intro.jpg" alt="" class="article__intro-bg-image">
                <img src="img/intro-decor.svg" alt="" class="article__intro-decor-image">
            </div>
            <div class="article__intro-breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#">
                    Блог
                </a>
                /
                <a href="#">
                    5 главных ошибок в уходе за кожей. Отвечает эксперт
                </a>
            </div>
            <div class="article__intro-text-content">


                <div class="article__intro-date">
                    5.05.2022
                </div>
                <h1 class="article__intro-heading">
                    5 главных ошибок в уходе за кожей.<br> Отвечает эксперт
                </h1>
            </div>
            <div class="article__intro-social">
                <a href="#" class="article__intro-social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-article-vk">
                        <use xlink:href="#article-vk"></use>
                    </svg>
                </a>
                <a href="#" class="article__intro-social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-article-telegram">
                        <use xlink:href="#article-telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="article__tags">
            <div class="article__tags-content">


                <a href="#" class="article__tag">
                    ультразвуковой SMAS-лифтинг Ultraformer
                </a>
                <a href="#" class="article__tag">
                    BBL Hero Forever Young
                </a>
                <a href="#" class="article__tag">
                    ботокс
                </a>
                <a href="#" class="article__tag">
                    ретинол
                </a>
                <a href="#" class="article__tag">
                    ниацинамид
                </a>
                <a href="#" class="article__tag">
                    гликолевая кислота
                </a>
                <a href="#" class="article__tag">
                    сквалан
                </a>
                <a href="#" class="article__tag">
                    пробиотики
                </a>
                <a href="#" class="article__tag">
                    очищение кожи
                </a>
                <a href="#" class="article__tag">
                    бакучиол
                </a>
            </div>
        </div>
        <div class="article__content">
            <p>
                <i>
                    Врач-косметолог «МильФей» Светлана Власова рассказывает, почему еще не поздно скорректировать бьюти-рутину, и улучшить состояние кожи в краткосрочной и долгосрочной перспективе.
                </i>
            </p>
            <h3>
                Очищение кожи до скрипа с помощью мыла
            </h3>
            <p>
                Нас ввела в заблуждение много лет идущая по телевидению реклама мыла Dove. «Увлажняющее крем-мыло подарит мягкость и вашей коже», - гласит слоган. Далеко не всё так просто. У мыла щелочной pH, а у кожи - слабо-кислый pH. Очищая лицо «до скрипа», мы вымываем защитную водно-липидную мантию кожи, тем самым в ответ получаем сухость, раздражение, повышенное салоотделение и воспаление! Особенно любят умываться мылом люди с жирной кожей. Объясняем, подбираем правильные очищающие средства. Получаем здоровую кожу.
            </p>
            <div class="article__images">
                <img src="img/article/1.jpg" alt="">
                <img src="img/article/2.jpg" alt="">
            </div>
            <h3>
                Мицеллярная вода=средство для умывания
            </h3>
            <p>
                Нет, это не так. Мицеллярная вода используется для снятия макияжа. Мицеллы - это молекулы ПАВ. Какими бы мягкими ни были ПАВ в составе средства, подобные ингредиенты не предусматривают многочасового и регулярного нахождения на коже. Если их не смыть, может нарушиться водно-лиричный барьер и привет, раздражение и сухость.
            </p>
            <h3>
                Детский крем - лучший уход для кожи
            </h3>
            <p>
                Да, в детский крем входят гипоаллергенные компоненты, но это ингредиенты, направленные на защиту кожи от внешних раздражителей. Они запечатывают здоровую кожу младенца, не давая проникать агрессивным факторам внешней среды. А коже взрослого человека нужно помогать. Напитывать, увлажнять, стимулировать. Поэтому средства для ухода должны содержать активные молекулы, например, витамины, антиоксиданты и кислоты. Вывод: в данном вопросе, «детское», не значит - лучшее.
            </p>
            <img src="img/article/3.jpg" alt="">
            <h3>
                Применение комедогенных ингредиентов (особенно если кожа склонна к акне)
            </h3>
            <p>
                «Не забивает поры» — это не просто фраза на этикетке. Если вы склонны к высыпаниям или у вас жирная кожа, используйте безмасляные продукты. Никакого масла какао, кокосового масла, экстракта водорослей и лауриновой кислоты, это лишь несколько примеров чрезвычайно комедогенных ингредиентов.
            </p>
            <h3>
                Чрезмерное отшелушивание
            </h3>
            <p>
                В погоне за чистой, гладкой и сияющей кожей многие из нас перебарщивают с пилингами и скрабами (некоторые используют эти средства чуть ли не через день). На самом деле, наша кожа не успевает так быстро восстанавливаться и не выдерживает постоянную «полировку». Отсюда покраснения и раздражения. Возьмите за правило отшелушивать кожу раз в неделю, при этом используя только мягкие формулы без крупных абразивных частиц.
            </p>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}