{{#extend "layout"}}
{{#content "main"}}


<section class="article">
    <div class="article__intro">
        <div class="article__intro-bg">
            <img src="img/article-intro.jpg" alt="" class="article__intro-bg-image">
            <img src="img/intro-decor.svg" alt="" class="article__intro-decor-image">
        </div>
        <div class="container">
            <div class="article__intro-content">

                <div class="article__intro-breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    /
                    <a href="#">
                        Блог
                    </a>
                    /
                    <a href="#">
                        5 главных ошибок в уходе за кожей. Отвечает эксперт
                    </a>
                </div>
                <div class="article__intro-text-content">


                    <div class="article__intro-date">
                        5.05.2022
                    </div>
                    <h1 class="article__intro-heading">
                        5 главных ошибок в уходе за кожей.<br> Отвечает эксперт
                    </h1>
                </div>
                <div class="article__intro-social">
                    <a href="#" class="article__intro-social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-article-vk">
                            <use xlink:href="#article-vk"></use>
                        </svg>
                    </a>
                    <a href="#" class="article__intro-social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-article-telegram">
                            <use xlink:href="#article-telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="article__tags">
            <div class="article__tags-content">


                <a href="#" class="article__tag">
                    ультразвуковой SMAS-лифтинг Ultraformer
                </a>
                <a href="#" class="article__tag">
                    BBL Hero Forever Young
                </a>
                <a href="#" class="article__tag">
                    ботокс
                </a>
                <a href="#" class="article__tag">
                    ретинол
                </a>
                <a href="#" class="article__tag">
                    ниацинамид
                </a>
                <a href="#" class="article__tag">
                    гликолевая кислота
                </a>
                <a href="#" class="article__tag">
                    сквалан
                </a>
                <a href="#" class="article__tag">
                    пробиотики
                </a>
                <a href="#" class="article__tag">
                    очищение кожи
                </a>
                <a href="#" class="article__tag">
                    бакучиол
                </a>
                <button class="article__show-more-tags js-show-more-tags">
                    <svg width="14" height="14" aria-hidden="true" class="icon-dots">
                        <use xlink:href="#dots"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="article__content">
            <p>
                <em>


                    Врач-косметолог «МильФей» Светлана Власова рассказывает, почему еще не поздно скорректировать
                    бьюти-рутину, и улучшить состояние кожи в краткосрочной и долгосрочной перспективе.
                </em>
            </p>
            <h3>
                Очищение кожи до скрипа с помощью мыла
            </h3>
            <p>
                Нас ввела в заблуждение много лет идущая по телевидению реклама мыла Dove. «Увлажняющее крем-мыло
                подарит мягкость и вашей коже», - гласит слоган. Далеко не всё так просто. У мыла щелочной pH, а у кожи
                - слабо-кислый pH. Очищая лицо «до скрипа», мы вымываем защитную водно-липидную мантию кожи, тем самым в
                ответ получаем сухость, раздражение, повышенное салоотделение и воспаление! Особенно любят умываться
                мылом люди с жирной кожей. Объясняем, подбираем правильные очищающие средства. Получаем здоровую кожу.
            </p>
            <div class="article__products">
                <div class="article__product">
                    <img src="img/article/1.jpg" alt="" class="article__product-image">
                    <div class="article__product-prices">
                        <div class="article__product-price">
                            <div class="article__product-price-amount">
                                1280 ₽
                            </div>
                            <a href="#" class="article__product-price-buy-link">
                                купить
                            </a>
                        </div>

                    </div>
                </div>
                <div class="article__product">
                    <img src="img/article/2.jpg" alt="" class="article__product-image">
                    <div class="article__product-prices">
                        <div class="article__product-price">
                            <div class="article__product-price-amount">
                                1280 ₽
                            </div>
                            <a href="#" class="article__product-price-buy-link">
                                купить
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            {{!-- <div class="article__images">
                <img src="img/article/1.jpg" alt="">
                <img src="img/article/2.jpg" alt="">
            </div> --}}
            <h3>
                Мицеллярная вода=средство для умывания
            </h3>
            <p>
                Нет, это не так. Мицеллярная вода используется для снятия макияжа. Мицеллы - это молекулы ПАВ. Какими бы
                мягкими ни были ПАВ в составе средства, подобные ингредиенты не предусматривают многочасового и
                регулярного нахождения на коже. Если их не смыть, может нарушиться водно-лиричный барьер и привет,
                раздражение и сухость.
            </p>
            <figure>
                <img src="img/article/3.jpg" alt="">
                <figcaption>
                    Подпись к картинке
                </figcaption>
            </figure>
            <h3>
                Детский крем - лучший уход для кожи
            </h3>
            <p>
                Да, в детский крем входят гипоаллергенные компоненты, но это ингредиенты, направленные на защиту кожи от
                внешних раздражителей. Они запечатывают здоровую кожу младенца, не давая проникать агрессивным факторам
                внешней среды. А коже взрослого человека нужно помогать. Напитывать, увлажнять, стимулировать. Поэтому
                средства для ухода должны содержать активные молекулы, например, витамины, антиоксиданты и кислоты.
                Вывод: в данном вопросе, «детское», не значит - лучшее.
            </p>



            <div class="article__products article__products--flexible">
                <div class="article__product">
                    <img src="img/article/3.jpg" alt="" class="article__product-image">
                    <div class="article__product-prices">
                        <div class="article__product-price">
                            <div class="article__product-price-amount">
                                1280 ₽
                            </div>
                            <a href="#" class="article__product-price-buy-link">
                                купить
                            </a>
                        </div>

                    </div>
                </div>

            </div>

            <div class="article__two-col">
                <div class="article__two-col-item">
                    <h3>
                        Набор: Уход за кожей вокруг глаз и лица для нормальной и сухой кожи + маска для сна в подарок
                        (30+15+15ml)
                    </h3>
                    <p>
                        Восхитительный набор средств от SkinCeuticals для для нормальной и сухой кожи.
                        CE FERULIC Высокоэффективная антиоксидантная сыворотка (для нормальной, сухой кожи) 30мл.
                    </p>
                    <ul>
                        <li>
                            Предупреждает преждевременное старение, нейтрализует свободные радикалы.
                        </li>
                        <li>
                            Защищает до 41% от последствий воздействия негативных факторов окружающей среды (солнца,
                            пагубного озона, выхлопных газов).
                        </li>
                        <li>
                            Корректирует существующие признаки старения (поверхностные и глубокие морщины,
                            гиперпигментация), стимулирует синтез коллагена, повышает упругость и эластичность кожи.
                        </li>
                        <li>
                            Улучшает переносимость инвазивных процедур, ускоряет процесс реабилитации и пролонгирует
                            полученный эффект.
                        </li>
                    </ul>
                </div>
                <div class="article__two-col-item">
                    <div class="article__products article__products--flexible">
                        <div class="article__product">
                            <img src="img/article/4.png" alt="" class="article__product-image">
                            <div class="article__product-prices">
                                <div class="article__product-price">
                                    <div class="article__product-price-amount">
                                        28900 ₽
                                    </div>
                                    <a href="#" class="article__product-price-buy-link">
                                        купить
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <blockquote>
                AOX Eye gel Антиоксидантный гель для ухода за кожей вокруг глаз против фотостарения и признаков
                усталости 15мл.
                Ежедневное использование антиоксидантных средств, созданных с учетом анатомии кожи в области глаз,
                необходимо
                для защиты деликатной области вокруг глаз от постоянного воздействия экологических агрессоров.
            </blockquote>

            <h3>
                BBL SkinTyte (инфракрасный термолифтинг)
                <a href="#">
                    запись
                </a>
            </h3>
            <p>
                SkinTyte — это дополнительный модуль BBL. Действие процедуры основано на инфракрасном свете, который
                прогревает верхние слои кожи. Тепло стимулирует клетки фибробласты, которые в свою очередь синтезируют
                новый коллаген — белок, отвечающий за молодость кожи. Благодаря SkinTyte повышается тонус и тургор кожи,
                уходят мешки под глазами, второй подбородок и морщины. Для получения устойчивого эффекта требуется 4–5
                посещений косметолога.
            </p>
            <h3>
                Применение комедогенных ингредиентов (особенно если кожа склонна к акне)
            </h3>
            <p>
                «Не забивает поры» — это не просто фраза на этикетке. Если вы склонны к высыпаниям или у вас жирная
                кожа, используйте безмасляные продукты. Никакого масла какао, кокосового масла, экстракта водорослей и
                лауриновой кислоты, это лишь несколько примеров чрезвычайно комедогенных ингредиентов.
            </p>
            <h3>Чрезмерное отшелушивание</h3>
            <p>
                В погоне за чистой, гладкой и сияющей кожей многие из нас перебарщивают с пилингами и скрабами
                (некоторые используют эти средства чуть ли не через день). На самом деле, наша кожа не успевает так
                быстро восстанавливаться и не выдерживает постоянную «полировку». Отсюда покраснения и раздражения.
                Возьмите за правило отшелушивать кожу раз в неделю, при этом используя только мягкие формулы без крупных
                абразивных частиц.
            </p>
            <a href="#" class="article__read-also">
                <div class="article__read-also-label">
                    читайте также
                </div>
                <div class="article__read-also-content">
                    Обертывания морскими водорослями Thalion помогут быстро насытить организм полезными микроэлементами
                    (йодом, серой, калием и кальцием) и запустить процессы обновления и восстановления. Курс
                    талассотерапии сделает кожу упругой, разгладит целлюлит и окажет общий эффект детоксикации
                    организма, а еще это отличный способ снять эмоциональное напряжение и отдохнуть от повседневной
                    суеты.
                </div>
            </a>

            <div class="article__list">
                <ul>
                    <li>
                        ультразвуковой SMAS-лифтинг Ultraformer
                    </li>
                    <li>
                        BBL Hero Forever Young
                    </li>
                    <li>
                        ботокс
                    </li>
                    <li>
                        ретинол
                    </li>
                    <li>
                        пробиотики
                    </li>
                    <li>
                        очищение кожи
                    </li>
                    <li>
                        биоревитализация
                    </li>
                </ul>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>
                            услуга
                        </th>
                        <th>
                            цена
                        </th>
                        <th>
                            результат
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            ультразвуковой SMAS-лифтинг Ultraformer
                        </td>
                        <td>
                            28900₽
                        </td>
                        <td>
                            раглаженные морщины возле носогубки,<br> морщины возле лба, щек и шеи.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BBL Hero
                        </td>
                        <td>
                            34900₽
                        </td>
                        <td>
                            раглаженные морщины возле носогубки,<br> морщины возле лба, щек и шеи.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Инъекции ботокса
                        </td>
                        <td>
                            41900₽
                        </td>
                        <td>
                            раглаженные морщины возле носогубки,<br> морщины возле лба, щек и шеи.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Косметический массаж шеи и зоны декольте
                        </td>
                        <td>
                            31900₽
                        </td>
                        <td>
                            раглаженные морщины возле носогубки,<br> морщины возле лба, щек и шеи.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}