{{#extend "layout"}}
{{#content "main"}}

<section class="service-intro">
    <div class="service-intro__bg service-intro__bg--no-overlay">
        {{!-- <img src="img/services-filter.jpg" alt="" class="service-intro__bg-image">
        <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image"> --}}
    </div>

    <div class="container">
        <div class="service-intro__content">

            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#">
                    блог
                </a>

            </div>
            <div class="service-intro__bottom-row">
                <div class="service-intro__wrapper">
                    <h1 class="service-intro__heading service-intro__heading--centered service-intro__heading--dark">
                        блог
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="article article--negative-margin">

    <div class="container">

        <div class="article__tags">
            <div class="article__tags-content">


                <a href="#" class="article__tag">
                    ультразвуковой SMAS-лифтинг Ultraformer
                </a>
                <a href="#" class="article__tag">
                    BBL Hero Forever Young
                </a>
                <a href="#" class="article__tag">
                    ботокс
                </a>
                <a href="#" class="article__tag">
                    ретинол
                </a>
                <a href="#" class="article__tag">
                    ниацинамид
                </a>
                <a href="#" class="article__tag">
                    гликолевая кислота
                </a>
                <a href="#" class="article__tag">
                    сквалан
                </a>
                <a href="#" class="article__tag">
                    пробиотики
                </a>
                <a href="#" class="article__tag">
                    очищение кожи
                </a>
                <a href="#" class="article__tag">
                    бакучиол
                </a>
                <button class="article__show-more-tags js-show-more-tags">
                    <svg width="14" height="14" aria-hidden="true" class="icon-dots">
                        <use xlink:href="#dots"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container">
        <div class="blog__content">
            <ul class="blog__list">
                <li class="blog__list-item">
                    <a href="#" class="blog__card">
                        <div class="blog__card-image-container">
                            <img src="img/blog/1.jpg" alt="" class="blog__card-image">
                            <div class="blog__card-date">
                                24/05/22
                            </div>
                        </div>
                        <h4 class="blog__card-title">
                            Ошибки в уходе за кожей. 5 советов специалиста.
                        </h4>
                    </a>
                </li>
                <li class="blog__list-item">
                    <a href="#" class="blog__card">
                        <div class="blog__card-image-container">
                            <img src="img/blog/2.jpg" alt="" class="blog__card-image">
                            <div class="blog__card-date">
                                24/05/22
                            </div>
                        </div>
                        <h4 class="blog__card-title">
                            Контурная пластика губ и подтяжка лица.
                            Что нужно знать перед процедурой?
                        </h4>
                    </a>
                </li>
                <li class="blog__list-item">
                    <a href="#" class="blog__card">
                        <div class="blog__card-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog__card-image">
                            <div class="blog__card-date">
                                24/05/22
                            </div>
                        </div>
                        <h4 class="blog__card-title">
                            5 АНТИЭЙДЖ-СЫВОРОТОК С ФЕРУЛОВОЙ КИСЛОТОЙ — ЛЮБИМЫМ ИНГРЕДИЕНТОМ КОСМЕТОЛОГОВ
                        </h4>
                    </a>
                </li>
                <li class="blog__list-item">
                    <a href="#" class="blog__card">
                        <div class="blog__card-image-container">
                            <img src="img/blog/4.jpg" alt="" class="blog__card-image">
                            <div class="blog__card-date">
                                24/05/22
                            </div>
                        </div>
                        <h4 class="blog__card-title">
                            Как защититься от солнца в летний период?
                            Выбираем правильный крем.
                        </h4>
                    </a>
                </li>
                <li class="blog__list-item">
                    <a href="#" class="blog__card">
                        <div class="blog__card-image-container">
                            <img src="img/blog/5.jpg" alt="" class="blog__card-image">
                            <div class="blog__card-date">
                                24/05/22
                            </div>
                        </div>
                        <h4 class="blog__card-title">
                            3 привычки, которые старят вашу кожу.
                            Рекомендации косметолога.
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}