{{#extend "layout"}}
{{#content "main"}}


<section class="service-intro service-intro--flexible">
    <div class="service-intro__bg service-intro__bg--no-overlay">
        {{!-- <img src="img/services-filter.jpg" alt="" class="service-intro__bg-image">
        <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image"> --}}
    </div>

    <div class="container">
        <div class="service-intro__content">

            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#">
                    страница не найдена
                </a>

            </div>
            <div class="service-intro__not-found">

                <div class="service-intro__not-found-code">
                    404
                </div>
                <h1 class="service-intro__not-found-heading">
                    страница не найдена
                </h1>
                <a href="#" class="circle-btn">

                    на главную
                </a>

            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}