{{#extend "layout"}}
{{#content "main"}}


<section class="service-intro">
    <div class="service-intro__bg">
        <img src="img/promo.jpg" alt="" class="service-intro__bg-image">
        {{!-- <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image"> --}}
    </div>

    <div class="container">
        <div class="service-intro__content">

            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#" class="active">
                    акции
                </a>
            </div>
            <div class="service-intro__bottom-row">

                <h1 class="service-intro__heading service-intro__heading--centered">
                    косметология
                </h1>

            </div>
        </div>
    </div>
</section>

<section class="promo">
    <div class="container">
        <div class="promo__content">


            <ul class="promo__list">
                <li class="promo__list-item">
                    <a href="#" class="promo__card">
                        <div class="promo__card-bg">

                        </div>
                        <div class="promo__card-content">
                            <div class="promo__card-code">
                                <div class="promo__card-code-value">JUNE20</div>
                                <div class="promo__card-code-text">
                                    промокод
                                </div>
                            </div>
                            <div class="promo__card-content-inner">
                                <h4 class="promo__card-card-title">
                                    скидка 15% на SMAS-лифтинг
                                    Ultraformer – только до конца июня
                                </h4>
                            </div>
                            <div class="promo__card-bottom-text">
                                *не распространяется на инъекции и товары
                            </div>
                            <div class="promo__card-overlay">
                                <div class="promo__card-action">
                                    запись
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="promo__list-item">
                    <a href="#" class="promo__card">
                        <div class="promo__card-bg">

                        </div>
                        <div class="promo__card-content">

                            <div class="promo__card-content-inner">
                                <h4 class="promo__card-card-title">
                                    скидка 15% на SMAS-лифтинг
                                    Ultraformer – только до конца июня
                                </h4>
                            </div>
                            <div class="promo__card-bottom-text">
                                *действительна до конца июня
                            </div>
                            <div class="promo__card-overlay">
                                <div class="promo__card-action">
                                    запись
                                </div>
                            </div>
                        </div>


                    </a>
                </li>
                <li class="promo__list-item">
                    <a href="#" class="promo__card">
                        <div class="promo__card-bg">

                        </div>
                        <div class="promo__card-content">
                            <div class="promo__card-content-inner">
                                <h4 class="promo__card-card-title">
                                    скидка 10% на уход по волосам в дополнение к стрижке
                                </h4>
                            </div>
                            <div class="promo__card-overlay">
                                <div class="promo__card-action">
                                    запись
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="promo__list-item">
                    <a href="#" class="promo__card">
                        <div class="promo__card-bg">

                        </div>
                        <div class="promo__card-content">
                            <div class="promo__card-content-inner">
                                <h4 class="promo__card-card-title">
                                    биоревитализация 2 в 1 - Контурная пластика Neauvia hydro deluxe XL 5 мл
                                </h4>
                                <div class="promo__card-card-prices">
                                    <div class="promo__card-card-old-price">
                                        44 800₽
                                    </div>
                                    <div class="promo__card-card-new-price">
                                        38 000₽
                                    </div>
                                </div>
                            </div>
                            <div class="promo__card-overlay">
                                <div class="promo__card-action">
                                    запись
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}