{{#extend "layout"}}
{{#content "main"}}


<section class="service-intro">


    <div class="container">
        <div class="service-intro__content">
            <div class="service-intro__bg">
                <img src="img/service-intro.jpg" alt="" class="service-intro__bg-image">
                <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image">
            </div>
            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a> / <br>
                <a href="#" class="active">
                    парикмахерские услуги
                </a>
            </div>
            <div class="service-intro__bottom-row">
                <h1 class="service-intro__heading">
                    парикмахерские<br>
                    услуги
                </h1>
                <a href="#" class="circle-btn">
                    запись
                </a>
            </div>
        </div>
    </div>
</section>
<section class="services-accordions">
    <div class="container">
        <div class="services-accordions__content">
            <div class="services-accordions__accordion js-accordion">
                <div class="services-accordions__accordion-btn js-accordion-btn">
                    <div class="services-accordions__accordion-btn-text">
                        выпрямление
                    </div>
                    <div class="services-accordions__accordion-btn-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-accordion-arrow">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </div>

                </div>
                <div class="services-accordions__accordion-content js-accordion-content">
                    <div class="services-accordions__accordion-content-inner">
                        <ul class="services-accordions__accordion-list">
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        13 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        11 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        35 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon active">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        27 500 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services-accordions__accordion js-accordion">
                <div class="services-accordions__accordion-btn js-accordion-btn">
                    <div class="services-accordions__accordion-btn-text">
                        наращивание
                    </div>
                    <div class="services-accordions__accordion-btn-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-accordion-arrow">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </div>

                </div>
                <div class="services-accordions__accordion-content js-accordion-content">
                    <div class="services-accordions__accordion-content-inner">
                        <ul class="services-accordions__accordion-list">
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        13 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        11 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        35 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon active">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        27 500 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services-accordions__accordion js-accordion">
                <div class="services-accordions__accordion-btn js-accordion-btn">
                    <div class="services-accordions__accordion-btn-text">
                        окрашивание
                    </div>
                    <div class="services-accordions__accordion-btn-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-accordion-arrow">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </div>

                </div>
                <div class="services-accordions__accordion-content js-accordion-content">
                    <div class="services-accordions__accordion-content-inner">
                        <ul class="services-accordions__accordion-list">
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        13 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        11 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        35 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon active">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        27 500 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services-accordions__accordion js-accordion">
                <div class="services-accordions__accordion-btn js-accordion-btn">
                    <div class="services-accordions__accordion-btn-text">
                        стрижки/прически
                    </div>
                    <div class="services-accordions__accordion-btn-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-accordion-arrow">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </div>

                </div>
                <div class="services-accordions__accordion-content js-accordion-content">
                    <div class="services-accordions__accordion-content-inner">
                        <ul class="services-accordions__accordion-list">
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        13 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        11 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        35 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon active">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        27 500 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="services-accordions__accordion js-accordion">
                <div class="services-accordions__accordion-btn js-accordion-btn">
                    <div class="services-accordions__accordion-btn-text">
                        уход за волосами
                    </div>
                    <div class="services-accordions__accordion-btn-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-accordion-arrow">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </div>

                </div>
                <div class="services-accordions__accordion-content js-accordion-content">
                    <div class="services-accordions__accordion-content-inner">
                        <ul class="services-accordions__accordion-list">
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        13 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Global Keratin)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        11 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Длинные (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        35 000 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon active">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li class="services-accordions__accordion-list-item">
                                <div class="services-accordions__accordion-card">
                                    <h3 class="services-accordions__accordion-card-title">
                                        Кератиновое выпрямление волос: Средние (Brazilian Blowout)
                                    </h3>
                                    <div class="services-accordions__accordion-card-price">
                                        27 500 ₽
                                    </div>
                                    <a href="#" class="services-accordions__accordion-card-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="services-promo">
    <div class="container">
        <a href="#" class="services-promo__content">
            <h2 class="services-promo__title">
                Акция июня
            </h2>
            <div class="services-promo__text">
                10% <br>
                скидки на 2 услуги<br>
                по волосам
            </div>
        </a>
    </div>
</section>

{{/content}}
{{/extend}}