{{#extend "layout"}}
{{#content "main"}}


<section class="service-intro">
    <div class="service-intro__bg">
        <img src="img/services-filter.jpg" alt="" class="service-intro__bg-image">
        <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image">
    </div>

    <div class="container">
        <div class="service-intro__content">

            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#" class="active">
                    парикмахерские услуги
                </a>
            </div>
            <div class="service-intro__bottom-row">
                <a href="#" class="star-btn">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                    весь прайс
                </a>
                <h1 class="service-intro__heading">
                    косметология
                </h1>
                <a href="#" class="circle-btn">
                    запись
                </a>
            </div>
        </div>
    </div>
</section>

<div class="services-filter js-services-filter">
    <div class="container">
        <div class="services-filter__content">
            <form method="POST" action="/ajax.php" class="services-filter__form">
                <div class="services-filter__modes">
                    <div class="services-filter__category-select">
                        <div class="services-filter__category-select-current">
                            <div class="services-filter__category-select-current-text">
                                эстетическая косметология
                            </div>
                            <svg width="14" height="14" aria-hidden="true" class="icon-caret">
                                <use xlink:href="#caret"></use>
                            </svg>
                        </div>
                        <div class="services-filter__category-select-dropdown">
                            <div class="services-filter__category-select-dropdown-inner">
                                <label class="services-filter__category-select-item">
                                    <input type="radio" name="category"
                                        class="services-filter__category-select-item-input" value="1">
                                    <span class="services-filter__category-select-item-content">
                                        <span class="services-filter__category-select-item-text">
                                            эстетическая косметология
                                        </span>

                                    </span>
                                </label>
                                <label class="services-filter__category-select-item">
                                    <input type="radio" name="category"
                                        class="services-filter__category-select-item-input" value="2">
                                    <span class="services-filter__category-select-item-content">
                                        <span class="services-filter__category-select-item-text">
                                            инъекционная косметология
                                        </span>

                                    </span>
                                </label>

                                <label class="services-filter__category-select-item">
                                    <input type="radio" name="category"
                                        class="services-filter__category-select-item-input" value="3">
                                    <span class="services-filter__category-select-item-content">

                                        <span class="services-filter__category-select-item-text">
                                            акции
                                        </span>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                            <use xlink:href="#fire"></use>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="services-filter__category-search">
                        <input type="text" class="services-filter__category-search-input">
                    </div>
                    <div class="services-filter__modes-btns">
                        <button class="services-filter__modes-btn services-filter__modes-btn--search" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                        <button class="services-filter__modes-btn services-filter__modes-btn--close-search"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-close-search">
                                <use xlink:href="#close-search"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="services-filter__tags-layers">
                    <div class="services-filter__tags-layer">
                        <div class="services-filter__tags">
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input js-all-tag"
                                    value="all">
                                <span class="services-filter__tag-content">
                                    все
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="фотоомоложение">
                                <span class="services-filter__tag-content">
                                    фотоомоложение
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="эпиляция">
                                <span class="services-filter__tag-content">
                                    эпиляция
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="чистка кожи">
                                <span class="services-filter__tag-content">
                                    чистка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input" value="heleo4">
                                <span class="services-filter__tag-content">
                                    heleo4
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="hydrafacial">
                                <span class="services-filter__tag-content">
                                    hydrafacial
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="BBL hero">
                                <span class="services-filter__tag-content">
                                    BBL hero
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="подятжка кожи">
                                <span class="services-filter__tag-content">
                                    подятжка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="LightSheer Duet">
                                <span class="services-filter__tag-content">
                                    LightSheer Duet
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="удаление новообразований">
                                <span class="services-filter__tag-content">
                                    удаление новообразований
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="питание кожи">
                                <span class="services-filter__tag-content">
                                    питание кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="микротоковая терапия">
                                <span class="services-filter__tag-content">
                                    микротоковая терапия
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="лечение акне и постакне">
                                <span class="services-filter__tag-content">
                                    лечение акне и постакне
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="аппаратный массаж">
                                <span class="services-filter__tag-content">
                                    аппаратный массаж
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="InMode Lumecca">
                                <span class="services-filter__tag-content">
                                    InMode Lumecca
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="services-filter__tags-layer">
                        <div class="services-filter__tags">
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input js-all-tag"
                                    value="all">
                                <span class="services-filter__tag-content">
                                    все
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="фотоомоложение">
                                <span class="services-filter__tag-content">
                                    фотоомоложение
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="эпиляция">
                                <span class="services-filter__tag-content">
                                    эпиляция
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="чистка кожи">
                                <span class="services-filter__tag-content">
                                    чистка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input" value="heleo4">
                                <span class="services-filter__tag-content">
                                    heleo4
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="hydrafacial">
                                <span class="services-filter__tag-content">
                                    hydrafacial
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="BBL hero">
                                <span class="services-filter__tag-content">
                                    BBL hero
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="подятжка кожи">
                                <span class="services-filter__tag-content">
                                    подятжка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="LightSheer Duet">
                                <span class="services-filter__tag-content">
                                    LightSheer Duet
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="удаление новообразований">
                                <span class="services-filter__tag-content">
                                    удаление новообразований
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="питание кожи">
                                <span class="services-filter__tag-content">
                                    питание кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="микротоковая терапия">
                                <span class="services-filter__tag-content">
                                    микротоковая терапия
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="лечение акне и постакне">
                                <span class="services-filter__tag-content">
                                    лечение акне и постакне
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="аппаратный массаж">
                                <span class="services-filter__tag-content">
                                    аппаратный массаж
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="InMode Lumecca">
                                <span class="services-filter__tag-content">
                                    InMode Lumecca
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="services-filter__tags-layer">
                        <div class="services-filter__tags">
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input js-all-tag"
                                    value="all">
                                <span class="services-filter__tag-content">
                                    все
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="фотоомоложение">
                                <span class="services-filter__tag-content">
                                    фотоомоложение
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="эпиляция">
                                <span class="services-filter__tag-content">
                                    эпиляция
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="чистка кожи">
                                <span class="services-filter__tag-content">
                                    чистка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input" value="heleo4">
                                <span class="services-filter__tag-content">
                                    heleo4
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="hydrafacial">
                                <span class="services-filter__tag-content">
                                    hydrafacial
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="BBL hero">
                                <span class="services-filter__tag-content">
                                    BBL hero
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="подятжка кожи">
                                <span class="services-filter__tag-content">
                                    подятжка кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="LightSheer Duet">
                                <span class="services-filter__tag-content">
                                    LightSheer Duet
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="удаление новообразований">
                                <span class="services-filter__tag-content">
                                    удаление новообразований
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="питание кожи">
                                <span class="services-filter__tag-content">
                                    питание кожи
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="микротоковая терапия">
                                <span class="services-filter__tag-content">
                                    микротоковая терапия
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="лечение акне и постакне">
                                <span class="services-filter__tag-content">
                                    лечение акне и постакне
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="аппаратный массаж">
                                <span class="services-filter__tag-content">
                                    аппаратный массаж
                                </span>
                            </label>
                            <label class="services-filter__tag">
                                <input type="checkbox" name="tags[]" class="services-filter__tag-input"
                                    value="InMode Lumecca">
                                <span class="services-filter__tag-content">
                                    InMode Lumecca
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
            </form>
            <div class="services-results services-filter__results">


                <ol class="services-results-list">
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение + инфракрасный термолифтинг BBL:
                                    Декольте
                                </h4>
                            </div>

                            <div class="service-card__price">
                                32 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение + инфракрасный термолифтинг BBL:
                                    Лицо
                                </h4>
                            </div>

                            <div class="service-card__price">
                                41 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение + инфракрасный термолифтинг BBL:
                                    Лицо + Шея
                                </h4>
                            </div>

                            <div class="service-card__price">
                                55 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение + инфракрасный термолифтинг BBL:
                                    Лицо + Шея + Декольте
                                </h4>
                            </div>

                            <div class="service-card__price">
                                55 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение + инфракрасный термолифтинг BBL:
                                    Шея
                                </h4>
                            </div>

                            <div class="service-card__price">
                                30 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение BBL: Декольте – Удаление сосудистых патологий и пигментаций кожи
                                </h4>
                            </div>

                            <div class="service-card__price">
                                20 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение BBL: Щеки – Удаление сосудистых патологий и пигментаций кожи
                                </h4>
                            </div>

                            <div class="service-card__price">
                                9 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение InMode: Декольте – Удаление пигментации кожи
                                </h4>
                            </div>

                            <div class="service-card__price">
                                12 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение InMode: Лицо – Удаление сосудистых патологий кожи
                                </h4>
                            </div>

                            <div class="service-card__price">
                                15 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="services-results-list-item">
                        <div class="service-card service-card--link">
                            <div class="service-card__content">
                                <h4 class="service-card__title">
                                    Фотоомоложение InMode: Лоб – Удаление пигментации кожи
                                </h4>
                            </div>

                            <div class="service-card__price">
                                4 000 ₽
                            </div>
                            <a href="#" class="service__card-link-wrapper">

                            </a>
                            <a href="#" class="service-card__like-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="services-text">
    <div class="container">
        <div class="services-text__content">
            <p>
                Аппаратная косметология в Москве – эффективная, безопасная замена инвазивным манипуляциям и пластическим
                операциям. Она представляет собой физиологическую методику воздействия на ткани посредством специального
                оборудования.
            </p>
            <p>
                Значительный плюс таких процедур – безопасность, отсутствие возрастных ограничений, универсальность,
                комплексное решение проблем без хирургического вмешательства.
            </p>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}