{{#extend "layout"}}
{{#content "main"}}


<section class="service-intro">
    <div class="service-intro__bg">
        <img src="img/service-intro-2.jpg" alt="" class="service-intro__bg-image">
        <img src="img/intro-decor.svg" alt="" class="service-intro__decor-image">
    </div>

    <div class="container">
        <div class="service-intro__content">

            <div class="service-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#" class="active">
                    парикмахерские услуги
                </a>
            </div>
            <div class="service-intro__bottom-row">
                <a href="#" class="star-btn">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                    весь прайс
                </a>
                <h1 class="service-intro__heading">
                    косметология
                </h1>
                <a href="#" class="circle-btn">
                    запись
                </a>
            </div>
        </div>
    </div>
</section>

<section class="services-slider js-services-slider">
    <div class="container">
        <div class="services-slider__content">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                01
                            </div>
                            <h4 class="services-slider__card-title">
                                акции
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                02
                            </div>
                            <h4 class="services-slider__card-title">
                                аппаратная
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                03
                            </div>
                            <h4 class="services-slider__card-title">
                                инъекционная
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                04
                            </div>
                            <h4 class="services-slider__card-title">
                                эстетическая
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                01
                            </div>
                            <h4 class="services-slider__card-title">
                                акции
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                02
                            </div>
                            <h4 class="services-slider__card-title">
                                аппаратная
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                03
                            </div>
                            <h4 class="services-slider__card-title">
                                инъекционная
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="services-slider__card">
                            <div class="services-slider__card-bg">
                                <img src="img/service-card.jpg" alt="" class="services-slider__card-bg-image">
                            </div>
                            <div class="services-slider__card-number">
                                04
                            </div>
                            <h4 class="services-slider__card-title">
                                эстетическая
                            </h4>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-slider__progress">

            </div>

        </div>
    </div>
</section>

<section class="services-text">
    <div class="container">
        <div class="services-text__content">
            <p>
                Аппаратная косметология в Москве – эффективная, безопасная замена инвазивным манипуляциям и пластическим
                операциям. Она представляет собой физиологическую методику воздействия на ткани посредством специального
                оборудования.
            </p>
            <p>
                Значительный плюс таких процедур – безопасность, отсутствие возрастных ограничений, универсальность,
                комплексное решение проблем без хирургического вмешательства.
            </p>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}