{{#extend "layout"}}
    {{#content "main"}}

        <section class="service-intro">
            <div class="intro__bg">
                <picture>
                    <source srcset="img/intro-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/intro.jpg" alt="" class="intro__bg-image">
                </picture>
                <img src="img/intro-decor.svg" alt="" class="intro__decor-image">
            </div>
            <div class="container">
                <div class="service-intro__content">

                    <div class="service-intro__breadcrumbs">
                        <a href="#">
                            Главная
                        </a>
                        /
                        <a href="#">
                            СМИ о нас
                        </a>

                    </div>
                    <div class="service-intro__bottom-row">
                        <div class="service-intro__wrapper service-intro__wrapper--align-left service-intro__wrapper--dark">
                            <h1 class="service-intro__heading service-intro__heading--align-left service-intro__heading--dark">
                                СМИ о нас
                            </h1>
                            <p>Наших специалисты отвечают на интересующие вопросы
                                о косметологии в популярных изданиях</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="smi">

            <div class="container">

                <div class="article__tags">
                    <div class="article__tags-content">


                        <a href="#" class="article__tag">
                            ультразвуковой SMAS-лифтинг Ultraformer
                        </a>
                        <a href="#" class="article__tag">
                            BBL Hero Forever Young
                        </a>
                        <a href="#" class="article__tag">
                            ботокс
                        </a>
                        <a href="#" class="article__tag">
                            ретинол
                        </a>
                        <a href="#" class="article__tag">
                            ниацинамид
                        </a>
                        <a href="#" class="article__tag">
                            гликолевая кислота
                        </a>
                        <a href="#" class="article__tag">
                            сквалан
                        </a>
                        <a href="#" class="article__tag">
                            пробиотики
                        </a>
                        <a href="#" class="article__tag">
                            очищение кожи
                        </a>
                        <a href="#" class="article__tag">
                            бакучиол
                        </a>
                        <button class="article__show-more-tags js-show-more-tags">
                            <svg width="14" height="14" aria-hidden="true" class="icon-dots">
                                <use xlink:href="#dots"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="smi">
            <div class="container">
                <div class="smi__content">
                    <ul class="smi__list">
                        <li class="smi__list-item">
                            <a href="#" class="smi__card">
                                <div class="smi__card-image" style="background-image: url('img/girls/1.jpg')"></div>
                                <span class="smi__card-content">
                                    <h4 class="smi__card-title">
                                        Ботокс. За и против.<br/>
                                        Интервью косметолога для журнала Cosmopolitan
                                    </h4>
                                    <p>Интервью косметолога для журнала Cosmopolitan</p>
                                    <img src="img/smi/cosmopolitan.png" alt="" class="smi__card-logo">
                                </span>
                                <div class="smi__card-arrow">
                                    <svg width="48" height="48" aria-hidden="true" class="icon-caret">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="smi__list-item">
                            <a href="#" class="smi__card">
                                <div class="smi__card-image" style="background-image: url('img/girls/1.jpg')"></div>
                                <span class="smi__card-content">
                                    <h4 class="smi__card-title">
                                        Ботокс. За и против.<br/>
                                        Интервью косметолога для журнала Cosmopolitan
                                    </h4>
                                    <p>Интервью косметолога для журнала Cosmopolitan</p>
                                    <img src="img/smi/cosmopolitan.png" alt="" class="smi__card-logo">
                                </span>
                                <div class="smi__card-arrow">
                                    <svg width="48" height="48" aria-hidden="true" class="icon-caret">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="smi__list-item">
                            <a href="#" class="smi__card">
                                <div class="smi__card-image" style="background-image: url('img/girls/1.jpg')"></div>
                                <div class="smi__card-content">
                                    <h4 class="smi__card-title">
                                        Ботокс. За и против.<br/>
                                        Интервью косметолога для журнала Cosmopolitan
                                    </h4>
                                    <p>Интервью косметолога для журнала Cosmopolitan</p>
                                    <img src="img/smi/cosmopolitan.png" alt="" class="smi__card-logo">
                                </div>
                                <div class="smi__card-arrow">
                                    <svg width="48" height="48" aria-hidden="true" class="icon-caret">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="smi__list-item">
                            <a href="#" class="smi__card">
                                <div class="smi__card-image" style="background-image: url('img/girls/1.jpg')"></div>
                                <span class="smi__card-content">
                                    <h4 class="smi__card-title">
                                        Ботокс. За и против.<br/>
                                        Интервью косметолога для журнала Cosmopolitan
                                    </h4>
                                    <p>Интервью косметолога для журнала Cosmopolitan</p>
                                    <img src="img/smi/cosmopolitan.png" alt="" class="smi__card-logo">
                                </span>
                                <div class="smi__card-arrow">
                                    <svg width="48" height="48" aria-hidden="true" class="icon-caret">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="smi__list-item">
                            <a href="#" class="smi__card">
                                <div class="smi__card-image" style="background-image: url('img/girls/1.jpg')"></div>
                                <span class="smi__card-content">
                                    <h4 class="smi__card-title">
                                        Ботокс. За и против.<br/>
                                        Интервью косметолога для журнала Cosmopolitan
                                    </h4>
                                    <p>Интервью косметолога для журнала Cosmopolitan</p>
                                    <img src="img/smi/cosmopolitan.png" alt="" class="smi__card-logo">
                                </span>
                                <div class="smi__card-arrow">
                                    <svg width="48" height="48" aria-hidden="true" class="icon-caret">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}
