.accordions {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1rem;


    &--no-gap {
        grid-gap: 0;
    }
}

.accordions__accordion {
    background-color: #fff;

    &--transparent {
        background-color: transparent;
        
        border-top: 1px solid var(--text-color);
        &:last-child {
            border-bottom: 1px solid var(--text-color);
        }
       
       
    }
}
.accordions__accordion-btn {
    height: 12rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, color .2s;

   
    svg {
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        fill: currentColor;
        transition: transform 0.2s;
        transform: rotate(180deg);
        &.icon-accordion-cross {
            transform: rotate(0);
        }
        
    }

    .js-accordion.active & {
        svg {
            transform: rotate(0deg);

            &.icon-accordion-cross {
                transform: rotate(45deg);
            }
        }
    }

    // .accordions__accordion--transparent.js-accordion.active & {
    //     background-color: var(--text-color);
    //     color: white;
       
    // }
}

.accordions__accordion-btn-text {
    width: 50%;
    flex-grow: 1;
}

.accordions__accordion-content {
    height: 0;
    overflow: hidden;
}

.accordions__accordion-content-inner {
    padding-top: 5rem;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;

    &--small-padding {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
       
    }

    .accordions__accordion--transparent & {
        border-top: 1px solid var(--text-color);
    }

  
    ul {
        li {
            padding-left: 2.5rem;
            position: relative;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                width: 1rem;
                height: 1rem;
                background-color: currentColor;
                position: absolute;
                left: 0;
                top: 1rem;
                border-radius: 50%;
            }
        }
    }
}
