.author-program {
    margin-bottom: 20rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.author-program__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 var(--content-padding);

    @include breakpoint(mobile) {
    }
}

.author-program__card {
    position: relative;
    width: 62.5rem;
    mask-image: url('../img/masks/5.svg');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    @include breakpoint(mobile) {
        width: 15.5rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .no-touch &:hover {
        .author-program__card-image-container::before {
            opacity: 0.5;
        }
    }

    &:active {
        .author-program__card-image-container::before {
            opacity: 0 !important;
        }
        .author-program__card-image-container::after {
            opacity: 0.5;
        }
    }
}

.author-program__card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #c4c4c4 0%, #e4e4e4 100%);
        opacity: 0;
        transition: opacity 0.2s;
        z-index: 10;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: opacity 0.2s;
        z-index: 15;
    }
}

.author-program__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-program__text-content {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;

    @include breakpoint(mobile) {
        padding: 0;
        padding-bottom: 1rem;
    }
}

.author-program__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12.5rem;
    line-height: 10.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 1;
    }
}

.author-program__heading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
