.favourites__content {
    padding: 1rem;
    background: #F9F9F9;
    padding-bottom: 4rem;

    .services-results__not-found {
        @include breakpointMF(small-tablet) {
            padding-bottom: 2rem;
        }
        
    }
    @include breakpoint(mobile) {
        padding: 0 1rem;
        
    }
}