.container {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
  
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 6rem;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
