.page-footer {
    background: #171616;
    color: white;
}

.page-footer__row {
    padding: 5rem calc(var(--content-padding) + 2rem);
    
    display: flex;
    align-items: center;
}

.page-footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    margin-right: 6.5rem;
}

.page-footer__logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #e0e0e0;
}

.page-footer__logo-image {
    display: block;
    height: auto;
    width: 22rem;
    
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}

.page-footer__social-list-item {
    flex-shrink: 0;

}

.page-footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3rem;
    height: 3em;

    transition: transform 0.3s;

    .no-touch &:hover,
    .touch &:active {
        transform: scale(0.95);
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.page-footer__policy-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;
    color: #E0E0E0;
    margin-left: auto;
    &:link,
    &:visited {
        color: #E0E0E0;
    }
    .no-touch &:hover,
    .touch &:active {
        text-decoration-color: #E0E0E0;
    }
}

.page-footer__copyright {
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'Arial', sans-serif;
    color: #E0E0E0;
    margin-left: auto;
}
