.page-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 50;
        transition: opacity 0.2s;
    }

    body.compact-header:not(.fixed-header):not(.mobile-menu-open) & {
        &::before {
            opacity: 0;
        }
    }

    .modal-open &,
    .mobile-menu-open & {
        padding-right: var(--sb-width, 0);
        &::before {
            right: var(--sb-width, 0);
        }
    }
}

.page-header__row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 0;
    min-height: 7rem;
    position: relative;
    z-index: 50;

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
    }
}

.page-header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding-left: 1rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #eeefec;
    color: #362e29;
    padding: 0 1rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 30;

    @include breakpoint(mobile) {
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-open & {
        right: var(--sb-width, 0);
    }

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.page-header__nav {
    // @include breakpoint(mobile) {
    //     margin: 0 calc(-1 * var(--content-padding));
    // }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.page-header__menu-btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpointMF(small-tablet) {
        display: none;
    }
}

.page-header__menu-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;

    font-family: 'Arial', sans-serif;
    padding: 3rem 2rem;
    border: 1px solid #f2f2f2;
    text-align: center;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page-header__nav-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    border: 1px solid #e0e0e0;

    @include breakpoint(mobile) {
        border: none;
    }
}

.page-header__nav-list-item {
    border-bottom: 1px solid #e0e0e0;

    @include breakpoint(mobile) {
        border-bottom: 1px solid #f2f2f2;

        &:first-child {
            border-top: 1px solid #f2f2f2;
        }
    }

    @include breakpointMF(small-tablet) {
        &:last-child {
            border: none;
        }
    }
}

.page-header__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;

    @include breakpointMF(small-tablet) {
        display: none;
    }
}

.page-header__social-link {
    width: 2.5rem;
    height: 2.5rem;
    display: block;

    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: var(--text-color);
    }
}

.page-header__phones {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    transition: border-color 0.2s, background-color 0.2s;
    margin-left: 3rem;
    svg {
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: fill 0.2s, opacity 0.2s;
        fill: #e0e0e0;

        &:nth-child(2) {
            fill: white;
            opacity: 0;
        }
    }

    &.active {
        background-color: var(--text-color);
        border-color: var(--text-color);

        svg {
            &:nth-child(1) {
                opacity: 0;
            }

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }

    @include breakpointMF(small-tablet) {
        display: none;
    }
}

.page-header__phones-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility 0s linear .4s;

    .page-header__phones.active ~ & {
        opacity: 1;
        visibility: inherit;
        transition: opacity .4s, visibility .4s;
    }
}

.page-header__phones-list {
    display: flex;
    flex-direction: column;
}

.page-header__phones-list-item {
    border-bottom: 1px solid #f2f2f2;
    &:first-child {
        border-top: 1px solid #f2f2f2;
    }
}

.page-header__phones-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: 'Arial', sans-serif;
    line-height: 100%;
    padding: 2rem 0;
}

.page-header__phones-link-city {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
}

.page-header__nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 5.8rem;
    font-family: 'Arial', sans-serif;
    line-height: 100%;
    text-transform: lowercase;
    color: var(--text-color);
    padding: 1.3rem var(--content-padding);
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 0.5rem;
    transition: color 0.2s, background-color 0.2s;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 100%;
        padding: 1rem 0;

        font-family: 'Arial', sans-serif;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, #c4c4c4 0%, #e4e4e4 100%);
        opacity: 0;
        transition: opacity 0.2s;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        &::before {
            opacity: 0.5;
        }
    }
    &:active,
    &.active {
        background-color: var(--text-color);
        color: white;
        &::before {
            opacity: 0;
        }
    }
}
.page-header__burger {
    align-self: center;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 7.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 60;
    transition: background-color 0.2s, color 0.2s;
    align-self: stretch;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    @include breakpoint(mobile) {
        width: 7rem;
        height: 7rem;
        align-self: center;
        margin-left: 1rem;
    }

    & > span {
        display: block;
        background: var(--text-color);
        height: 2px;
        width: 1.8rem;
        margin-bottom: 0.4rem;
        transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
        border-radius: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .mobile-menu-open & {
        background-color: var(--text-color);
        & > span {
            background-color: #fff;

            &:nth-child(1) {
                transform: translateY(0.6rem) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-0.6rem) rotate(-45deg);
            }
        }
    }
}

.page-header__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    border-left: 1px solid #e0e0e0;
    transition: all 0.2s;
    position: relative;
    z-index: 1;

    body.compact-header:not(.fixed-header):not(.mobile-menu-open) & {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    @include breakpoint(mobile) {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #c4c4c4 0%, #e4e4e4 100%);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s;
    }
    &:last-of-type {
        border-right: 1px solid #e0e0e0;
    }
    &:link,
    &:visited {
        color: #000000;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &:active {
        &::before {
            opacity: 0;
        }

        background-color: var(--text-color);
        color: white;
        border-color: var(--text-color);

        & + .page-header__btn {
            border-left: var(--text-color);
        }
    }
}

.page-header__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    transition: opacity 0.2s, visibility 0.2s;
    padding-right: 1rem;

    body.compact-header:not(.fixed-header):not(.mobile-menu-open) & {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    @include breakpoint(mobile) {
        margin-left: auto;
    }
}

.page-header__favourites {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    color: transparent;
    margin-left: 3rem;

    @include breakpoint(mobile) {
        margin-right: 1.2rem;
        margin-left: 0;
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: transparent;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #e0e0e0;
        transition: fill 0.2s;
    }

    &.active {
        color: var(--text-color);
        svg {
            fill: var(--text-color);
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--text-color);
        svg {
            fill: var(--text-color);
        }
    }
}

.page-header__logo {
    flex-shrink: 0;
    margin-right: var(--content-padding);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(mobile) {
        margin-right: 1rem;

        display: none;
    }
}

.page-header__logo-image {
    width: 13.5rem;
    height: auto;
    display: block;
}

.page-header__stories-btn {
    margin-left: auto;
}


.page-header__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-shrink: 0;
    

    @include breakpoint(mobile) {
        align-items: center;
        
        gap: 1rem;
        
    }
}

.page-header__social-list-item {
    flex-shrink: 0;
}

.page-header__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 2.5rem;
    height: 2.5rem;

    transition: transform 0.3s;

    .no-touch &:hover,
    .touch &:active {
        transform: scale(0.95);
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--text-color);
    }
}