.page-footer {
    background: #171616;
    color: white;
    padding: 0 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    @include breakpoint(mobile) {
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.page-footer__row {
    grid-gap: 2rem;
    grid-row-gap: 2.5rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.6fr) repeat(2, minmax(0, 1fr));
    grid-template-areas: 'logo social offices offices' 'info info policy copyright';

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr) auto;
        grid-column-gap: 2rem;
        grid-row-gap: 0.5rem;
        grid-template-areas: 'logo social' 'offices offices' 'policy copyright' 'info info';
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__offices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: 'Arial', sans-serif;
    grid-area: offices;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2.4rem;
        padding-top: 3.5rem;
        padding-bottom: 2rem;
        justify-content: flex-start;
    }
}

.page-footer__office {

    a {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all .2s;

        &:hover {
            text-decoration-color: white;
        }
    }
    @include breakpoint(mobile) {
        &:nth-child(odd) {
            border-right: 1px solid #4F4F4F;
            padding-right: 2rem;
        }

        &:nth-child(even) {
            padding-left: 2rem;
        }
    }
}

.page-footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    grid-area: logo;

    @include breakpoint(mobile) {
        margin: 0;
        gap: 0.5rem;
    }
}

.page-footer__logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #e0e0e0;
    white-space: nowrap;

    
}

.page-footer__logo-image {
    display: block;
    height: auto;
    width: 22rem;
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-shrink: 0;
    grid-area: social;

    @include breakpoint(mobile) {
        align-items: center;
        align-self: flex-end;
        gap: 1rem;
        margin-bottom: -0.3rem;
    }
}

.page-footer__social-list-item {
    flex-shrink: 0;
}

.page-footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;

    transition: transform 0.3s;

    .no-touch &:hover,
    .touch &:active {
        transform: scale(0.95);
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.page-footer__policy-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
    font-family: 'Arial', sans-serif;
    justify-self: flex-start;
    grid-area: policy;
    align-self: flex-end;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.8rem;
    }
    &:link,
    &:visited {
        color: #828282;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }
}

.page-footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
    font-family: 'Arial', sans-serif;
    justify-self: flex-end;
    grid-area: copyright;
    align-self: flex-end;
    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.8rem;
    }
    &:link,
    &:visited {
        color: #828282;
    }
}

.page-footer__info-text {
    grid-area: info;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #828282;
    align-self: flex-end;
    max-width: 34rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 0.6rem;
        line-height: 0.8rem;
        max-width: none;
    }
}
