.service-intro {
    color: white;
    margin-bottom: 1rem;
}

.service-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #F1F2EF;
}

.service-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-intro__decor-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80.8rem;
    width: 63%;
    height: auto;
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.service-intro__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0 var(--content-padding);
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: min(100vh, 72rem);
    overflow: hidden;
}

.service-intro__breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 1.2rem var(--content-padding);
    border-bottom: 1px solid #ffffff;
    margin-bottom: auto;
    color: var(--text-color);
    display: block;
    text-align: left;
}

.service-intro__bottom-row {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    margin-top: auto;
}

.service-intro__heading {
    text-align: center;
   

    font-style: normal;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 90%;
    margin-top: -1rem;

    &--dark {
        color: var(--text-color);
    }

    &--centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.service-intro__wrapper {
}

.service-intro__heading-text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 90%;
    text-align: center;
    text-transform: lowercase;
    margin-top: 1rem;
    &--dark {
        color: var(--text-color);
    }
}
