.service-card {
    background-color: #fff;
    padding: 1.7rem 2rem;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    min-height: 10rem;
    transition: color 0.2s, background-color 0.2s;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, auto);
        grid-template-areas: 'number like' 'title price';
        grid-gap: 1rem;
        align-items: stretch;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.8rem;
        min-height: 10rem;
        align-content: flex-start;
        
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }
    &::before {
        content: counter(ordered-list, decimal-leading-zero);
        width: 7.4rem;
        flex-shrink: 0;


        @include breakpoint(mobile) {
            grid-area: number;
            align-self: flex-start;
            justify-self: flex-start;
            width: auto;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, #c4c4c4 0%, #e4e4e4 100%);
        opacity: 0;
        transition: opacity 0.2s;
    }

    &--link {
        &:hover {
            &::after {
                opacity: 1;
            }

            .service-card__like-btn {
                svg {
                    fill: #e0e0e0;
                }

                &:hover {
                    color: #e0e0e0;
                }
            }
        }

        &:active,
        &.active {
            background-color: var(--text-color);
            color: white;

            &::after {
                opacity: 0;
            }
            .service-card__like-btn {
                svg {
                    fill: #e0e0e0;
                }

                &:hover {
                    color: #e0e0e0;
                }
            }
        }
    }
}

.service-card__content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        display: contents;
        width: 100%;
        flex-grow: 0;
    }
}

.service-card__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    max-width: 52rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.8rem;
        max-width: none;
        grid-area: title;
        align-self: flex-start;
    }
}

.service-card__price {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    width: 22rem;
    font-family: 'Arial', sans-serif;

    @include breakpoint(mobile) {
        width: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        grid-area: price;
        justify-self: flex-end;
        align-self: flex-end;
    }
}

.service-card__like-btn {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;

    @include breakpoint(mobile) {
        width: 3rem;
        height: 3rem;
        grid-area: like;
        justify-self: flex-end;
        align-self: flex-start;
    }
    &:link,
    &:visited {
        color: transparent;
    }

    svg {
        width: 3rem;
        height: 3rem;
        fill: #e0e0e0;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &:hover,
    &.active {
        color: var(--text-color) !important;
        svg {
            fill: var(--text-color) !important;
        }
    }
}

.service__card-link-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
