.service-intro {
    color: white;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &--flexible {
        margin: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .service-intro__content {
                flex-grow: 1;
            }
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;

        &--flexible {
            margin-bottom: 0;
        }
    }
}

.service-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f1f2ef;

    @include breakpoint(mobile) {
        &::after {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &--no-overlay {
            &::after {
                display: none;
            }
        }
    }
}

.service-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-intro__decor-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80.8rem;
    width: 63%;
    height: auto;
    mix-blend-mode: overlay;
    opacity: 0.5;
    z-index: 5;

    @include breakpoint(mobile) {
        width: 120%;
        right: 0;
        max-width: none;
        transform: none;
        top: -3rem;
        left: auto;
        opacity: 1;

        transform: scaleX(-1);
    }
}

.service-intro__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0 var(--content-padding);
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: min(100vh, 72rem);
    overflow: hidden;

    @include breakpoint(mobile) {
        padding: 0 1rem;
        min-height: min(calc(100vh - 14rem), 72rem);
        padding-bottom: 2rem;
    }
}

.service-intro__breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 1.2rem var(--content-padding);
    border-bottom: 1px solid #ffffff;
    margin-bottom: auto;
    color: var(--text-color);
    display: block;
    text-align: left;

    @include breakpoint(mobile) {
        display: none;
    }
}

.service-intro__bottom-row {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    margin-top: auto;

    @include breakpoint(mobile) {
        .circle-btn {
            width: 9rem;
            height: 9rem;
            background-color: var(--text-color);
            color: white;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

.service-intro__heading {
    text-align: center;

    font-style: normal;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 90%;
    margin-top: -1rem;

    @include breakpoint(mobile) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 90%;
    }

    &--dark {
        color: var(--text-color);
    }

    &--centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.service-intro__wrapper {
}

.service-intro__heading-text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 90%;
    text-align: center;
    text-transform: lowercase;
    margin-top: 1rem;
    &--dark {
        color: var(--text-color);
    }
}

.service-intro__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin-bottom: auto;

    @include breakpoint(mobile) {
        margin-top: auto;
    }
}

.service-intro__not-found-code {
    font-style: normal;
    font-weight: 500;
    font-size: 12.8rem;
    line-height: 90%;
   

    text-shadow: 0px 0px 6rem rgba(185, 185, 185, 0.4);
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 8rem;
    }
}

.service-intro__not-found-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 90%;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
}
