.services-filter {
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        padding-top: 2rem;
        margin-top: -4rem;
    }
}

.services-filter__content {
    padding: 1rem;

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.services-filter__form {
    background: #f9f9f9;
}



.services-filter__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #e0e0e0;

    @include breakpoint(mobile) {
        gap: 1rem;
        padding: 1.5rem 1rem;
        display: none;

        .services-filter__tags-cloud.active ~ & {
            display: flex;
        }
    }
}

.services-filter__tag {
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;


    @include breakpoint(mobile) {
        .services-filter__tags:not(.show-all) &:not(:nth-of-type(-n+9)) {
            display: none;
        }
    }



    &.hidden {
        display: none;
    }
}

.services-filter__tag-input {
    display: none;
}

.services-filter__tag-content {
    border: 1px solid #e0e0e0;
    display: block;
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    padding: 1rem 2rem;
    border-radius: 5rem;
    padding-top: 0.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
        padding: 0.8rem 1.8rem;
        padding-top: 0.7rem;
    }
}

.services-filter__show-more-tags {
    border: 1px solid #e0e0e0;
    display: block;
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    padding: 0.5rem 1.6rem;
    border-radius: 5rem;
   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 3rem;
        height: 3rem;
        fill: var(--text-color);
    }

    .show-all & {
        display: none;
    }

    @include breakpointMF(small-tablet) {
        display: none;
    }
}

.services-filter__tag-input:checked ~ .services-filter__tag-content {
    background: var(--text-color);
    border-color: var(--text-color);
    color: white;
}

.services-filter__results {
    padding: 0 2rem;
    padding-bottom: 3.5rem;
    padding-top: 6rem;
    background: #f9f9f9;

    @include breakpoint(mobile) {
        padding: 1rem;
        padding-bottom: 3rem;
    }
}

.services-filter__tags-cloud {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    border-bottom: 1px solid #e0e0e0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    width: 100%;
    color: #362e29;
    justify-content: center;

    @include breakpointMF(small-tablet) {
        display: none;
    }
    svg {
        transition: transform 0.2s;
        width: 1rem;
        height: 0.6rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-top: 0.4rem;
        // transform: rotate(180deg);
    }

    &.active {
        background: var(--text-color);
        border-color: var(--text-color);
        color: white;
        svg {
            transform: rotate(180deg);
        }
    }
}

.services-filter__results {
}

.services-filter__modes {
    display: flex;
    align-items: center;
    height: 14rem;
    border: 1px solid #e0e0e0;
    position: relative;

    @include breakpoint(mobile) {
        height: 10rem;
        border-left: none;
        border-right: none;
    }
}

.services-filter__category-select {
    width: 50%;
    flex-grow: 1;
    padding: 0 3rem;

    @include breakpoint(mobile) {
        padding-left: 1rem;
        padding-right: 2rem;
    }

    .search-shown & {
        display: none;
    }
}

.services-filter__category-search {
    width: 50%;
    flex-grow: 1;
    padding: 0 3rem;
    display: none;

    @include breakpoint(mobile) {
        padding: 0 2rem;
    }

    .search-shown & {
        display: block;
    }
}

.services-filter__category-search-input {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--text-color);
    height: 7rem;
    border-bottom: 1px solid var(--text-color);

    @include placeholder {
        color: #bdbdbd;
    }

    @include breakpoint(mobile) {
        height: 10rem;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.5rem;
    }
}

.services-filter__category-select-current {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
    svg {
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-top: 1rem;
        transform: rotate(180deg);
        transition: transform 0.2s;

        @include breakpoint(mobile) {
            width: 4rem;
            height: 4rem;
        }
    }
}

.services-filter__modes-btns {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.services-filter__modes-btn {
    position: relative;
    width: 14rem;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s;
    border-left: 1px solid #e0e0e0;

    @include breakpoint(mobile) {
        width: 8rem;
        height: 10rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        fill: var(--text-color);
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.services-filter__modes-btn--search {
    .search-shown & {
        display: none;
    }
}
.services-filter__modes-btn--close-search {
    display: none;
    .search-shown & {
        background-color: var(--text-color);
        border-color: var(--text-color);
        display: block;

        svg {
            fill: white;
        }
    }
}

.services-filter__category-select-dropdown {
    position: absolute;
    left: -1px;
    top: 100%;
    min-width: 46rem;
    width: max-content;
    max-width: 100%;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    @include breakpoint(mobile) {
        width: 100%;
        min-width: auto;
        max-width: none;
    }

    &.shown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.services-filter__category-select-dropdown-inner {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 6rem rgba(0, 0, 0, 0.1);
}

.services-filter__category-select-item {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    user-select: none;
    &:last-child {
        border-bottom: none;
    }
}

.services-filter__category-select-item-content {
    
    display: flex;
    align-items: center;
    padding: 3.2rem 3rem;
    padding-top: 2.8rem;
    gap: 1rem;

    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.6rem;
        padding: 2rem 2rem;
        padding-top: 1.8rem;
        height: auto;
    }

    svg {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-top: 0.8rem;

        @include breakpoint(mobile) {
            width: 2rem;
            height: 2rem;
            margin-top: 0.5rem;
        }
    }
}

.services-filter__category-select-item-input {
    display: none;
}

.services-filter__category-select-item-input:checked ~ .services-filter__category-select-item-content,
.services-filter__category-select-item.active .services-filter__category-select-item-content {
    background: var(--text-color);
    color: white;
}


.services-filter__tags-not-found {
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;

    display: none;
}