.stories {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 900;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    background: linear-gradient(180deg, rgba(#c4c4c4, 0.8) 0%, rgba(#e4e4e4, 0.8) 100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    @include noScrollbar();

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.stories__inner {
    width: 100%;
    margin: auto;
    max-width: 35rem;
    box-shadow: 0px 0.4rem 5rem rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.stories__slider {
    position: relative;
}

.stories__slider-card {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    color: white;
    position: relative;
    z-index: 1;
    user-select: none;
    &:link,
    &:visited {
        color: white;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 180%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.stories__slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--text-color);
}

.stories__slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.stories__slider-card-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.stories__slider-card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
}

.stories__slider-card-category {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.stories__slider-card-category-image-container {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, #f584cf, #9a5dd8);
    margin-top: 0.2rem;
}

.stories__slider-card-category-image-wrapper {
    position: absolute;
    inset: 0.1rem;
    border-radius: 50%;
    overflow: hidden;
}

.stories__slider-card-category-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories__slider-close {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 40;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: #362e29;
        }
    }
}

.stories__slider-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 90%;
    text-transform: lowercase;
    text-shadow: 0px 0px 6rem rgba(185, 185, 185, 0.4);

    &--centered {
        margin-bottom: auto;
        text-align: center;
    }
}

.stories__slider-pagination {
    position: absolute;
    top: 1.6rem !important;
    left: 1rem !important;
    right: 1rem !important;
    width: auto !important;
    z-index: 40;
    bottom: auto !important;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    .stories__slider-pagination-bullet {
        width: 0.3rem;
        height: 0.3rem;
        flex-grow: 1;
        margin: 0;
        background-color: rgba(#ffffff, 0.5);
        opacity: 1;
        transition: background-color 0.2s;
        border-radius: 0;
        margin: 0 !important;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: left center;
            transform: scaleX(var(--slider-progress, 0));
            background-color: white;
        }
    }
}

.stories__slider-card-btn {
    display: flex;
    margin-top: auto;
    color: #fff;
    background: #362e29;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 1rem 0;
    border-radius: .5rem;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;

    &--white {
        color: #362e29;
        background-color: #fff;
        &:link,
        &:visited {
            color: #362e29;
        }
    }
}
